.sidebar-wrap{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  margin: 0 auto;
  .sidebar-container{
    position: absolute;
    top: 250px;
    left: 620px;
    width: fit-content;
    // .sidebar-ul{
    //   //transform: translateY(-40%);
    // }
  }

  .sidebar-ul{
    text-align: center;
    li{
      // margin-bottom: 12px;
      &:nth-of-type(1){
        margin-bottom: 16px;
      }

    }
  }
}

@media (max-width:$mobileBaseMaxSize){
  .sidebar-wrap{
    display: none;
  }
}


.login-side{
  ul{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 18px 0;
    box-shadow: 4px 4px 4px rgba($color: #000, $alpha: 0.1);
    li{
      margin-bottom: 0 !important;
      height: auto;
      padding: 0 16px;
      &:last-of-type{
        margin-top: 14px;
      }
      a{
        display: block;
        padding: 6px 0;
        background-color: #8C0F98;
        color: #fff;
      }
    }
  }
  .login-box{
    li{
      &:last-of-type{
        margin-top: 8px;
      }
    }
  }
}