doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //meta(name="description", content="")
    link(rel="stylesheet", href="../static/css/hauto.css")
    link(href= `../static/css/fonts/GmarketSans.css` rel="stylesheet")
    title H.Aoto 에이치오토
  body 
    .wrap 
      .bg
        a(class="go-site" href="http://careasy.co.kr/" target="_blank") http://careasy.co.kr/