
div(class="mobile-bottom-wrap")
  div(class="mobile-bottom-btn-area") 
    a(href="tel:1533-3753" class="btn-box btn-tel") 
      div.icon-area: img(src=`${imgPath}/common/mobile_bottom_icon_tel.png`, alt="이미지")
      p 전화<br>상담
    a(href="#none" class="btn-box btn-katalk") 
      div.icon-area: img(src=`${imgPath}/common/mobile_bottom_icon_katalk.png`, alt="이미지")
      p 카카오톡<br>문의하기
    button(type="button" class="btn-box btn-quote fn-open-modal-quote")
      div.icon-area: img(src=`${imgPath}/common/mobile_bottom_icon_quote.png`, alt="이미지")  
      p 견적 요청하기